/* basis instellingen */
* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: darkseagreen;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/*Naaminvoer-scherm*/
#startscherm {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: darkseagreen;
  transition: ease-in-out .5s;
  opacity: 1;
  visibility: visible;
  text-align: center;
}

#startscherm input {
  font-size: 1vw;
  cursor: text;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vw;
  background-color: #bcbc8f;
  border: 3px solid white;
  border-radius: 15px;
  padding: .5vw;
}

#startscherm input:active, #startscherm input:focus {
  border-color: black;
}

#boventekst {
  margin-top: 15vw;
  font-size: 2vw;
}

#ondertekst {
  font-size: 1.5vw;
  margin-top: .8vw;
}

#startscherm #submitform {
  padding: .5vw 1.5vw;
  
}

/* tamagotchi en gif placement */
#tamagotchi {
  margin: 0 auto;
  display: block;
  height: 31.5vw;
}

#transparantpet {
  position: absolute;
  top: 0vw;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
}

#transparantplay {
  position: absolute;
  top: 0vw;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
}

#transparanteat {
  position: absolute;
  top: 15vw;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
}

/*Header*/
#settings_icon {
  height: 3vw;
  position: absolute;
  left: 1vw;
  top: 1vw;
  z-index: 3;
  padding: .5vw;
  border: solid 3px white;
  border-radius: 15px;
}

#moneyicon{
  height: 4.5vw;
  padding: 5px;
  margin-left: 8vw;
  vertical-align: -1.5vw;
}
#money {
  max-width: 1vw;
  font-size: 2vw;
  display: inline-block;
}

.nomoney {
  animation: knipper 1s linear infinite;
}

/* via https://www.codewall.co.uk/css-text-shaking-animation-effect-with-code/ */
@keyframes knipper {
  0% { transform: skewX(-20deg); }
  5% { transform: skewX(20deg); }
  10% { transform: skewX(-20deg); }
  15% { transform: skewX(20deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); } 
  
  50% {
  color: red;
  }
}

body header {
  padding: 1vw 0 1vw 0;
  position: relative;
  background-color: darkseagreen;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

#buttonwardrobe {
  height: 5vw;
  padding: 3px;
  margin-right: 8vw;
  border: 3px solid	#fff;
  border-radius: 15px;
}

/*Food bar*/
body header progress {
  border-radius: 10px; 
  width: 18vw;
  height: 2.5vw;
  }

body header progress::-webkit-progress-bar {
  border: solid 3px whitesmoke;
  background-color: whitesmoke;
  border-radius: 10px;
  }
  
body header progress::-webkit-progress-value {
  background-color: #b35807;
  border-radius: 10px;
  }

#kippenpoot_bar {
  margin-top: 1.5vw;
}

#kippenpoot {
  position: absolute;
  margin: .1vw 0 0 -2.7vw;
  height: 2.5vw;
}

/*Wardrobe overlay*/
#wardrobe {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkseagreen;
  z-index: 1;
  opacity: 0;
  transition: ease-in-out .5s;
  text-align: center;
}

#scrollgroup {
  overflow-y: auto;
  display: inline-block;
  width: 40%;
  height: 81%;
  margin: auto;
}

#scrollgroup::-webkit-scrollbar {
  display: none;
}

#wardrobe article {
  margin: auto;
  border: solid 3px white;
  border-radius: 15px;
  width: 99%;
  height: 8vw;
  background-color: #afcfaf;
  margin-top: 2vw;
  text-align: left;
}

#wardrobe h1 {
  font-size: 3vw;
  margin-top: 4.5vw;
  text-align: center;
}

#wardrobe article h2 {
  margin: .5vw 0 0 .6vw;
  font-size: 1.5vw;
  font-weight: normal;
  display: inline-block;
}

#wardrobe article p {
  margin-left: .6vw;
  font-size: 1.5vw;
}

#wardrobe article img {
  cursor: pointer;
  height: 7vw;
  float: right;
  margin: .3vw 2vw 0 .5vw;
}

/*Footer*/
body footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1vw;
}

body footer img{
  height: 5vw;
  margin: 0 1vw;
  padding: .5vw;
  border: solid 3px white;
  border-radius: 15px;
  
}

body footer img:hover, #buttonwardrobe:hover, #settings_icon:hover, aside img:hover, #submitform:hover, #achtergrondkleuren div:hover, #leavecredits:hover {
  border-color: black;
  cursor: pointer;
}

/* settings */
aside {
  background-color: #afcfaf;
  border: solid 3px white;
  border-radius: 2vw;
  height: 60%;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out .5s;
  text-align: center;
  z-index: 2;
}

#closesettings {
  padding: .3vw;
  margin: 0;
  position: absolute;
  right: .9vw;
  top: .9vw;
  height: 1.5vw;
  width: 1.5vw;
}

aside h3 {
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: .5vw
}

aside img {
  margin-left: .5vw;
  margin-top: .5vw;
  width: 5vw;
  padding: .5vw;
  border: solid 3px white;
  border-radius: 1vw;
}

#achtergrondkleuren div {
  margin: .5vw .5vw;
  display: inline-block;
  width: 40%;
  height: 7vw;
  border: solid 3px white;
  border-radius: 15px;
}

#darkseagreen_achtergrond {
  background-color: darkseagreen;
}

#lightblue_achtergrond {
  background-color: lightblue;
}

#pink_achtergrond {
  background-color: pink;
}

#yellow_achtergrond {
  background-color: #ffbf00;
}

/* credits pagina */
section {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: darkseagreen;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out .5s;
  overflow-y: hidden;
}

section h3 {
  font-size: 2vw;
  margin-top: 5vw;
}

section div {
  width: 100%;
  height: 100%;
  background-color: darkseagreen;
  overflow: auto;
}

section div div p {
  margin-top: 2vw;
  font-size: 2vw;
}

section div div button {
  margin: 2vw 0vw;
  font-size: 1vw;
  padding: .8vw 3vw;
  border: 3px solid white;
  border-radius: 1vw;
  background-color: #afcfaf;
}

#creditscroll::-webkit-scrollbar, #tekstscroll::-webkit-scrollbar {
  display: none;
}

#creditscroll div p a {
  color: black;
  cursor: pointer;
}

#tekstscroll {
  height: 90vw;
}

.scrollanimation {
  animation: scrolldown 15s linear 1;
}

@keyframes scrolldown {
  0% {transform: translateY(3%);
  } 100% {transform: translateY(-44%);
  }
}